/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, a {
    list-style: none;
    color: currentColor;
    text-decoration-line: none;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 2rem;

}

.container-small {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 2rem;
}

.button {
    border-radius: 1.5rem;
    padding: 0.6rem;
}

.button-violet {
    background-color: #9792E4;
    color: white;
    font-weight: bold;
    padding: 0.5rem 3rem;
}


/* HEADER */
.header {
    background-color: #0084FD;
    color: white;
    padding: 1rem 0;
}

.header-first-row {
    justify-content: space-between;
    align-items: center;
}

.header-list {
    align-items: center;
    gap: 2rem;
}


.button-header {
    color: black;
    background-color: white;
}

.header-first-row i {
    display: none;
    cursor: pointer;
}

/* MEDIA QUERY HEADER */
/* tablet */
@media screen and (min-width: 376px) and (max-width: 810px) {
    .header-list {
        display: none;
    }
    
    .header-first-row > i {
        display: block;
    }
} 

/* mobile */
@media screen and (max-width: 375px) {
    .header-list {
        display: none;
    }
    
    .header-first-row > i {
        display: block;
    }
} 


/* MAIN */
/* section 1 */

.section-1 {
    padding-top: 3rem;
    padding-bottom: 6.5rem;
    /* line-height: 2rem; */
}

.section-1 h3 {
    font-size: 1.30rem;
    font-weight: bold;
    color: #0084FD;
    margin-bottom: 2rem;
}

.section-1 p {
    color: black;
    line-height: 2rem;
    margin-bottom: 1.8rem;
}

.section-1 .col > a {
    color: white;
    background-color: #0084FD;
    padding: 10px 40px;
    margin-bottom: 3.5rem;
    display: inline-block;
}

.section-1 .col-4 i {
    color: #0084FD;
    font-size: 5rem;
    display: inline-block; 
    margin-bottom: 1.5rem;
}

.section-1 .section-1-first-row {
    gap: 16px;
}

.section-1 .card {
    background-color: #B5DDFF;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 2rem 1rem 3.5rem; */
}

.section-1 .col-4 {
    width: calc((100% - 2rem) / 3);
    text-align: center;
}

.section-1 .col-8 {
    width: calc((100% - 1rem) / 2); 
    flex-grow: 1;
}

.section-1 .col-6 {
    width: calc(100% / 2);
    flex-wrap: nowrap;
}

.section-1 .col-6-img {
    /* aspect-ratio: 1/1; */
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: red;
}

/* .section-1 .col-6-img img {
    margin-bottom: -18rem;
} */


/* MEDIA QUERY SECTION-1 */
/* Tablet */
@media screen and (min-width: 376px) and (max-width: 810px){
    .row-col-6 {
        flex-direction: column;
    }    
    .section-1 .col-6 {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 375px) {
    .row-col-6 {
        flex-direction: column;
    }    
    .section-1 .col-6 {
        width: 100%;
    }
    .section-1-first-row {
        flex-direction: column;
    }
    .section-1 .col-8 {
        width: 100%;
    }
    .section-1 .col-4 {
        width: 100%;
    }
}


/* SECTION 2 */
.section-2 {
    background-color: #9792E4;
    padding-top: 6.5rem;
    padding-bottom: 4rem;
}

.section-2 .row {
    gap: 50px;
}

.section-2 .col-6 {
    flex-basis: 0;
    flex-grow: 1;
}

.section-2 .col {
    border-radius: 30px;
}

.section-2 .col-6-sx {
    color: white;
}

.section-2 .col-6-sx img {
    margin-bottom: 8rem;
}

.section-2 .col-6-sx h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3.8rem;
}

.section-2 .col-6-sx p{
    line-height: 2rem;
}

.section-2 .col-6-dx {
    background-color: white;
    text-align: center;
    padding: 2rem;
    align-self: flex-end;
}

.section-2 .col-6-dx img {
    margin-bottom: 2rem;
    max-width: 50%;
}

.section-2 .col-6-dx h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.section-2 .col-6-dx p{
    line-height: 2rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.section-2 .circle {
    width: 3rem;
    height: 3rem;
    background-color: #9792E4;
    color: currentColor;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

/* MEDIA QUERY SECTION-2 */
/* Tablet */
@media screen and (min-width: 376px) and (max-width: 810px) {
    .section-2 .row {
        flex-direction: column;
    }

    /* .section-2 .col-6 {
        width: 100%;
    } */

    .section-2 .col-6 img{
        max-width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 375px) {
    .section-2 .row {
        flex-direction: column;
    }

    /* .section-2 .col-6 {
        width: 100%;
    } */

    .section-2 .col-6 img{
        max-width: 100%;
    }

    .section-2 .col-6-sx img {
        margin-bottom: 4rem;
    }
    .section-2 .col-6-sx h3 {
        margin-bottom: 2rem;
    }
}


/* SECTION-3 */
.section-3 {
    line-height: 2rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
    text-align: center;
}

.section-3 h4 {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.section-3 h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #9792E4;
    margin-bottom: 2.5rem;
}

.section-3 p {
    margin-bottom: 2.5rem;
}

.section-3 .row {
    border-radius: 2rem;
    background-color: #9792E4;
    color: white;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 2rem;
    text-align: left;
}

.section-3 .row .col-sx {
    padding: 1.5rem 0.5rem 3rem;
    /* width: calc(100% / 5); */
}

.section-3 .row .col-sx img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.section-3 .row .col-dx {
    padding: 4.5rem 3.5rem;
    flex-basis: 0;
    flex-grow: 1;
}

.section-3 .row .col-dx address {
    font-size: 1.15rem;
    font-weight: bold;
    font-style: normal;
}


/* MEDIA QUERY SECTION 3 */
/* Tablet */
@media screen and (min-width: 376px) and (max-width: 810px) {

    .section-3 .row .col-dx {
        padding: 1rem;
    }

    .section-3 .row .col-sx {
        padding-bottom:0;
    }
}



/* Mobile */
@media screen and (max-width: 375px) {
    .section-3 .row {
        flex-direction: column;
    }

    .section-3 .row .col-dx {
        padding: 1rem;
    }

    .section-3 .row .col-sx {
        padding-bottom:0;
    }
}


/* SECTION-4 */
.section-4 {
    line-height: 2rem;
    padding: 3.5rem 0;
    background-color: #9792E4;
}

.section-4 h2 {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
}

.section-4 .row {
    gap: 3rem;
}

.section-4 .card {
    padding: 4rem 2rem 2rem;
    background-color: white;
    border-radius: 2rem;
    width: calc((100% - 6rem) / 3);
}


.section-4 h3 {
    font-size: 4.5rem;
    color: #9792E4;
    margin-bottom: 2rem;
}

.section-4 h4 {
    font-size: 1.5rem;
    color: #9792E4;
    margin-bottom: 1.25rem;
}

.section-4 p {
    margin-bottom: 1.4rem;
}


/* MEDIA QUERY SECTION-4 */
/* Tablet */
@media screen and (min-width: 376px) and (max-width: 810px) {
    .section-4 .card {
        width: calc((100% - 3rem) / 2);
    }
}

/* Mobile */
@media screen and (max-width: 375px) {
    .section-4 .card {
        width: calc(100% / 1);
    }
}


/* SECTION 5 */
.section-5 {
    padding-top: 6rem;
    padding-bottom: 8rem;
    line-height: 2rem;
}

.section-5 .container {
    padding-left: 4rem;
    padding-right: 4rem;
}

.section-5 .col-sx h2 {
    font-size: 4rem;
    color: #9792E4;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.section-5 .col-sx .primo-p {
    margin-bottom: 4.5rem;
}

.section-5 .col-dx img {
    border-radius: 50%;
    width: 250px;
    /* height: 250px; */
}

.section-5 .col-dx h3 {
    font-size: 1.5rem;
    color: #9792E4;
    font-weight: bold;
    margin-bottom: 2rem;
}

.section-5 .col-dx .button-violet {
    padding: 0.5rem;
    margin-bottom: 8rem;
}

.section-5 .col-dx a {
    display: inline-block;
}

.section-5 .row {
    gap: 1rem;
}

.section-5 .col-dx {
    width: calc((100% - 1rem) / 4);
    position: relative;
}

.section-5 .col-sx {
    flex-basis: 0;
    flex-grow: 1;
    align-self: end;
    padding-right: 8rem;
}

.section-5 .col-dx .fa-quote-left {
    position: absolute;
    top: 0;
    right: 0;
    color: #9792E4;
    font-size: 5rem;
}


/* MEDIA-QUERY SECTION-5 */
/* Tablet */
@media screen and (min-width: 376px) and (max-width: 810px) {
    .section-5 .col-dx {
        width: calc((100% - 1rem) / 3);
    }
    .section-5 .col-sx {
        padding-right: 2rem;
    }
    .section-5 .col-sx h2 {
        margin-bottom: 4.5rem;
    }
    .section-5 .col-dx .fa-quote-left {
        font-size: 4rem;
    }
}

/* Mobile */
@media screen and (max-width: 375px) {
    .section-5 .col-dx {
        width: 100%;
    }
    .section-5 .col-sx {
        padding-right: 2rem;
    }
    .section-5 .col-sx h2 {
        margin-bottom: 4.5rem;
    }
    .section-5 .col-dx .fa-quote-left {
        font-size: 4rem;
    }
}


/* SECTION 6 */
.section-6 {
    padding: 4rem 0;
    background-color: #9792E4;
    color: white;
    text-align: center;
}

.section-6 .container {
    padding: 0 20rem;
}

.section-6 h4 {
    font-size: 1.25rem;
    margin-bottom: 3rem;
    font-weight: 200;
}

.section-6 h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.section-6 h2 {
    font-size: 4rem;
    font-weight: bold;
    color: #F79E55;
    margin-bottom: 3rem;
}

.section-6 p {
    line-height: 2rem;
    margin-bottom: 3rem;
    padding: 0 3rem;
}

.section-6 .button {
    margin-bottom: 3rem;
    background-color: white;
    color: #9792E4;
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
}

.section-6 address {
    font-style: normal;
}

.section-6 address i{
    font-size: 0.5rem;
}

.section-6 address a {
    text-decoration-line: underline;
}


/* MEDIA-QUERY SECTION-6 */
/* Tablet */
@media screen and (min-width: 376px) and (max-width: 810px) {
    .section-6 .container {
        padding: 0 4rem;
    }
}

/* Mobile */
@media screen and (max-width: 375px) {
    .section-6 .container {
        padding: 0 2rem;
    }
}





/* DEBUG */
.debug * {
    border: 2px solid red;
}



