/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, a {
    list-style: none;
    color: currentColor;
    text-decoration-line: none;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 2rem;

}

.container-small {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 2rem;
}

.button {
    border-radius: 1.5rem;
    padding: 0.6rem;
}


/* HEADER */
.header {
    background-color: #0084FD;
    color: white;
    padding: 1rem 0;
}

.header-first-row {
    justify-content: space-between;
    align-items: center;
}

.header-list {
    align-items: center;
    gap: 2rem;
}


.button-header {
    color: black;
    background-color: white;

}

.header-first-row i {
    display: none;
}

/* MEDIA QUERY HEADER */
/* tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .header-list {
        display: none;
    }
    
    .header-first-row > i {
        display: block;
    }
} 

/* mobile */
@media screen and (max-width: 576px) {
    .header-list {
        display: none;
    }
    
    .header-first-row > i {
        display: block;
    }
} 


/* MAIN */
/* section 1 */

.section-1 {
    padding-top: 3rem;
    padding-bottom: 6.5rem;
    /* line-height: 2rem; */
}

.section-1 h3 {
    font-size: 1.30rem;
    font-weight: bold;
    color: #0084FD;
    margin-bottom: 2rem;
}

.section-1 p {
    color: black;
    line-height: 2rem;
    margin-bottom: 1.8rem;
}

.col > a {
    color: white;
    background-color: #0084FD;
    padding: 10px 40px;
    margin-bottom: 3.5rem;
    display: inline-block;
}

.section-1 .col-4 i {
    color: #0084FD;
    font-size: 5rem;
    display: inline-block; 
    margin-bottom: 1.5rem;
}

.section-1 .section-1-first-row {
    gap: 16px;
}

.section-1 .card {
    background-color: #B5DDFF;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 2rem 1rem 3.5rem; */
}

.section-1 .col-4 {
    width: calc((100% - 2rem) / 3);
    text-align: center;
}

.section-1 .col-8 {
    width: calc((100% - 1rem) / 2); 
    flex-grow: 1;
}

.section-1 .col-6 {
    width: calc(100% / 2);
    flex-wrap: nowrap;
}

.section-1 .col-6-img {
    /* aspect-ratio: 1/1; */
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: red;
}

/* .section-1 .col-6-img img {
    margin-bottom: -18rem;
} */


/* MEDIA QUERY SECTION-1 */
/* Tablet */
@media screen and (min-width: 577px) and (max-width: 768px){
    .row-col-6 {
        flex-direction: column;
    }    
    .section-1 .col-6 {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    .row-col-6 {
        flex-direction: column;
    }    
    .section-1 .col-6 {
        width: 100%;
    }
    .section-1-first-row {
        flex-direction: column;
    }
    .section-1 .col-8 {
        width: 100%;
    }
    .section-1 .col-4 {
        width: 100%;
    }
}


/* SECTION 2 */
.section-2 {
    background-color: #9792E4;
    padding-top: 6.5rem;
    padding-bottom: 4rem;
}

.section-2 .row {
    gap: 50px;
}

.section-2 .col-6 {
    flex-basis: 0;
    flex-grow: 1;
}

.section-2 .col {
    border-radius: 30px;
}

.section-2 .col-6-sx {
    color: white;
}

.section-2 .col-6-sx img {
    margin-bottom: 8rem;
}

.section-2 .col-6-sx h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3.8rem;
}

.section-2 .col-6-sx p{
    line-height: 2rem;
}

.section-2 .col-6-dx {
    background-color: white;
    text-align: center;
    padding: 2rem;
    align-self: flex-end;
}

.section-2 .col-6-dx img {
    margin-bottom: 2rem;
    max-width: 50%;
}

.section-2 .col-6-dx h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.section-2 .col-6-dx p{
    line-height: 2rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.section-2 .circle {
    width: 3rem;
    height: 3rem;
    background-color: #9792E4;
    color: currentColor;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}



/* DEBUG */
.debug * {
    border: 2px solid red;
}



